* {
    box-sizing: border-box;


}

body {

    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    /* float: right;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
    color: white;

}


.content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;


}

.header {
    padding: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    display: flex;
    justify-content: space-between;




    color: greenyellow;
}

.searchresult {
    width: 35vw;
    border-radius: 30px;
    border-color: black;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
}

.header h1 .seo {
    color: white;
}

.tags {
    color: white;
}

.tags2 {
    color: white;
}

.slideshow {
    height: 620px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.footer {
    text-align: center;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.float-right {

    padding: 20px;
    float: right;
    width: 40%;
    height: 500px;
    margin-left: 20px;
}

.form-group {
    width: 50%;
    margin-left: 100px;
}

.float-left {
    padding: 20px;
    float: left;
    width: 60%;
    height: 500px;
}
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
} */

.result-item {
    margin: 15px;
    border-bottom: 1px solid black;
}

.result-item p {
    margin-bottom: 0px;
}

.save-button-style {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 10px;
}

#narrow-search {
    margin: 5px;
}

#narrow-search-field {
    margin-right: 10px;
    width: 400px;
    border-radius: 5px;
}

#narrow-search-button {
    border-radius: 10px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

#events {
    height: 750px;
    overflow: auto;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    padding: 1em;
    margin: 1em;

}

#artistBio {
    height: 750px;
    overflow: auto;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    padding: 1em;
    margin: 1em;
}




#savedEvents {
    height: 750px;
    overflow: auto;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    padding: 1em;
    margin: 1em;

}



